.hyMrOd {
    background-color: #fff
}

.hyMrOd hr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 16px 0
}

@media only screen and (max-width:700px) {
    .Om2s0b {
        margin-top: 16px
    }
    .hyMrOd {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2)
    }
    .CnSRpe {
        margin: 32px 16px 0
    }
    .yrQA5d+.CnSRpe {
        margin: 16px 16px 0
    }
    .CnSRpe+.T4sa0d {
        margin: 10px 16px 16px
    }
    .CnSRpe+.T4sa0d:empty {
        margin-top: 0
    }
    .yrQA5d {
        padding: 16px
    }
    .yrQA5d:empty {
        padding: 16px 0 0
    }
    .Wea5y {
        padding: 16px
    }
    .qNeFe {
        padding-bottom: 16px
    }
    .qNeFe>* {
        float: right;
        margin-right: 16px
    }
    .qNeFe>*:last-child {
        margin-left: 16px
    }
    .zP3YCe {
        padding: 16px
    }
}

@media (min-width:701px) {
    .Om2s0b {
        margin-top: 24px
    }
    .hyMrOd {
        border: 1px solid #dadce0;
        border-radius: 8px;
        overflow: hidden;
        margin: 0 auto;
        max-width: 660px
    }
    .CnSRpe {
        margin: 48px auto 0 auto;
        max-width: 660px;
        width: 660px
    }
    .yrQA5d+.CnSRpe {
        margin: 24px auto 0 auto
    }
    .yrQA5d {
        padding: 24px 0
    }
    .yrQA5d:empty {
        padding: 24px 0 0
    }
    .CnSRpe+.T4sa0d {
        margin: 10px 0 24px 0
    }
    .CnSRpe+.T4sa0d:empty {
        margin-top: 0
    }
    .qNeFe {
        padding-bottom: 24px
    }
    .qNeFe>* {
        float: left;
        margin-left: 24px
    }
    .qNeFe>*:last-child {
        margin-right: 24px
    }
    .Wea5y,
    .zP3YCe {
        padding: 24px
    }
}

.chpHGd .CMEZce,
.ulZjrf .CMEZce {
    font-weight: bold
}

.ulZjrf .IExo3d .pR6rKf {
    border-spacing: 15px 4px
}

.ulZjrf .URz83d .ShbWnb {
    padding: 0 15px 0 0
}

.chpHGd .URz83d .xoz9O,
.ulZjrf .URz83d .xoz9O {
    color: rgba(0, 0, 0, 0.65)
}

.ulZjrf .DyEs4 .xoz9O {
    background-color: #fff;
    padding: 3px 0
}

.URz83d {
    box-sizing: border-box;
    padding: 20px;
    width: 100%
}

.URz83d .ShbWnb {
    display: table-cell;
    height: 100%;
    padding: 0 9px 0 15px;
    text-align: center;
    vertical-align: middle;
    width: 36px
}

.URz83d .CMEZce {
    display: table-cell;
    padding-right: 15px;
    vertical-align: middle;
    width: 35%
}

.URz83d .xoz9O {
    display: table-cell;
    vertical-align: middle
}

@media screen and (max-width:480px) {
    .URz83d {
        display: table;
        height: auto;
        padding-left: 15px
    }
    .DyEs4 {
        padding-left: 15px
    }
    .URz83d .ShbWnb {
        padding: 3px 3px 0 0;
        vertical-align: top;
        width: 21px
    }
    .URz83d .CMEZce,
    .URz83d .xoz9O {
        display: block;
        width: 100%;
        padding-left: 6px;
        padding-right: 0
    }
    .DyEs4 .WRlqaf {
        -webkit-box-align: start;
        box-align: start;
        align-items: flex-start
    }
    .DyEs4 .xoz9O {
        margin-bottom: 15px;
        margin-top: 15px;
        padding: 15px 19px
    }
    .gpLzmc {
        margin-top: 5px
    }
}

@media all and (min-width:481px) {
    .ymEM2d {
        display: flex;
        -webkit-box-align: center;
        box-align: center;
        align-items: center
    }
    .Lp8iaf {
        box-flex: 1;
        flex-grow: 1;
        flex-shrink: 1
    }
    .gpLzmc {
        box-flex: 0;
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0 15px
    }
}

.DyEs4 .WRlqaf {
    -webkit-box-align: center;
    box-align: center;
    align-items: center;
    display: flex;
    margin: -20px;
    padding: 20px
}

.DyEs4 .ShbWnb {
    box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 15px;
    padding-right: 18px
}

.DyEs4 .CMEZce {
    font-size: 16px;
    margin: 0
}

.DyEs4 .xoz9O {
    background-color: #fff;
    margin: 30px 0;
    padding: 25px 30px 25px 65px
}

.doPudb {
    color: rgba(0, 0, 0, 0.65);
    font-size: 13px
}

.YtMm3d {
    display: table;
    height: 36px;
    width: 100%
}

.ymEM2d {
    align-self: center;
    box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1
}

.yoxEFd {
    max-height: 24px;
    max-width: 24px
}

.chpHGd .CMEZce,
.chpHGd .xoz9O {
    display: block;
    padding-right: 0;
    width: 100%
}

.pOUX7,
.oNu23d {
    color: rgba(0, 0, 0, 0.65);
    display: table-cell;
    padding: 10px 8px;
    vertical-align: top
}

.pOUX7 {
    width: 40%
}

.w3DLae {
    display: table-cell
}

@media screen and (max-width:480px) {
    .pOUX7,
    .w3DLae {
        display: block;
        padding: 0 8px;
        width: 100%
    }
    .sPOj5c>.hMZdhd:first-child {
        margin-right: 0;
        padding-left: 0
    }
}

.AFqoge,
.Pc2vEb {
    border-spacing: 0;
    display: table;
    width: 100%
}

.AFqoge>.sPOj5c {
    border-top: 1px solid rgba(0, 0, 0, 0.14)
}

.AFqoge>.sPOj5c:first-child {
    border-top: none
}

.sPOj5c {
    width: 100%
}

.sPOj5c>.hMZdhd {
    display: table-cell;
    padding: 10px 8px 10px 0
}

.Dm91yd .sPOj5c>.hMZdhd {
    padding: 8px 8px 4px 0
}

.hMZdhd {
    vertical-align: middle;
    width: 100%
}

.pR6rKf {
    border-spacing: 15px 10px;
    display: table;
    font-size: 14px;
    width: 100%
}

.wC6Qxe {
    transform-origin: top left;
    box-sizing: border-box;
    color: #212121;
    max-width: 300px;
    padding: 8px;
    position: absolute;
    transform: scale(1, 1);
    transition: transform .4s cubic-bezier(0.4, 0.0, 0.2, 1);
    z-index: 4
}

.wC6Qxe.aUIdie {
    transform-origin: top right
}

.wC6Qxe.q8A8dc {
    transform-origin: bottom left
}

.wC6Qxe.aUIdie.q8A8dc {
    transform-origin: bottom right
}

.wC6Qxe.jVwmLb {
    transform: scale(0, 0)
}

.wC6Qxe.kdCdqc {
    transition-delay: .2s
}

.wC6Qxe.jVwmLb .np3Q7c {
    opacity: 0
}

.wC6Qxe.kdCdqc .np3Q7c {
    transition-delay: 0s
}

.I7fTNc.wC6Qxe {
    color: #202124
}

.JPdR6b.jVwmLb {
    max-height: 56px;
    opacity: 0
}

.BRGwYb.hXm5q {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15)
}

.hXm5q {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    padding: 8px 16px;
    position: relative
}

.SSPGKf.BIIBbc {
    height: 100%;
    overflow: hidden
}

.BRGwYb.hXm5q {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15)
}

.np3Q7c {
    opacity: 1;
    transition: opacity .4s ease .2s
}

.xwrcYd {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3
}

.TY3nyf {
    padding-top: 1px
}

.DyEs4 {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
    font-size: 13px;
    padding: 20px;
    table-layout: fixed;
    width: 100%
}

.v0j8P {
    max-height: 32px;
    max-width: 32px
}

.klq2Rc {
    color: #4285f4;
    fill: #4285f4;
    font-size: 16px;
    max-height: 16px;
    max-width: 16px;
    vertical-align: text-bottom
}

.ZaX9ed {
    display: table-cell;
    padding: 10px 8px 10px 0
}

.OcFGjf {
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px
}

.wnt0Xd {
    padding-top: 5px
}

.LIN9We {
    position: relative;
    top: -136px
}

.RaBvue {
    font-size: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px
}

.ow0aJf {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    margin: 0 20px;
    padding-bottom: 20px
}

.qNeFe:empty {
    display: none
}

.RH9rqf:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden
}

.IExo3d:not(:first-child),
.IExo3d.X9yxo {
    border-top: 1px solid rgba(0, 0, 0, 0.14)
}

@media only screen and (max-width:700px) {
    .LIN9We {
        top: -128px
    }
}